python-env
.venv
.mypy_cache
__pycache__
*/__pycache__/*
*.ps1
*/.directory
poetry.lock
tmp
assets
output

# local env files
.directory
.env.local
.env.*.local


# Editor directories and files
.idea
.vscode
*.pyc
*.project
*.coce-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
